@model TvShowReminder.Models.SubscriptionsListViewModel

@{
    ViewBag.Title = "Lista över prenumerationer";
}

<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped" id="table">
            <thead>
                <tr>
                    <th>TV-program</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var subscription in Model.Subscriptions)
                {
                    <tr>
                        <td>@subscription.TvShowName</td>
                        <td>
                            @using (Html.BeginForm("Delete", "Subscription"))
                            {
                                <input type="hidden" name="subscriptionId" value="@subscription.Id" />
                                <button type="submit">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr>
    </div>
</div>